{% extends "drug_base.html" %}
{% block title %}修改密码{% endblock %}
 {% block breadcrumb %}
       <li><a href="#">密码修改</a></li>
 {% endblock breadcrumb %}
{% block rightmiddle %}
    <div class="row">
    {% if success %}

    {% endif %}

        <div class="col-md-3 col-sm-3" style="margin-top:5px;margin-left: 30px;">
             <div class="alert alert-info">
                请输入原密码和新密码 <p class="text-warning">{{ errors }}</p>
            </div>
            <form class="form-horizontal" action="{% url 'drug-changepwd' %}" method="post">
                <fieldset>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-tag red"></i></span>
                        <input type="password" name="oldpassword" class="form-control" placeholder="原密码">
                    </div>
                    <div class="clearfix"></div><br>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                        <input type="password" name="password" class="form-control" placeholder="新密码">
                    </div>
                    <div class="clearfix"></div><br>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                        <input type="password" name="password1" class="col-md-4 form-control" placeholder="新密码(重复)">
                    </div>

                    <div class="clearfix"></div><br>

                    <p class="center col-md-5">
                        <button type="submit" class="btn btn-primary">修改密码</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>


{% endblock rightmiddle %}