<div class="col-md-3 col-sm-3 col-xs-6">
				<a data-toggle="tooltip" title="" class="well top-block" href="#">
					<i class="glyphicon glyphicon-user blue"></i>
					<div>日采购量</div>
					<div>{{ limit_day_purchase }}</div>
{#					<span class="notification">6</span>#}
				</a>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-6">
				<a data-toggle="tooltip" title="" class="well top-block" href="#">
					<i class="glyphicon glyphicon-star green"></i>

					<div>月采购量</div>
					<div>{{ limit_month_purchase }}</div>
{#					<span class="notification green">4</span>#}
				</a>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-6">
				<a data-toggle="tooltip" title="日销售量" class="well top-block" href="#">
					<i class="glyphicon glyphicon-shopping-cart yellow"></i>

					<div>日销售量</div>
					<div>{{ limit_day }}</div>
{#					<span class="notification yellow">34</span>#}
				</a>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-6">
				<a data-toggle="tooltip" title="" class="well top-block" href="#">
					<i class="glyphicon glyphicon-envelope red"></i>
					<div>月销售量</div>
					<div>{{ limit_month }}</div>
{#					<span class="notification red">12</span>#}
				</a>
			</div>