<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>库存列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
{% load static %}
    <link  href="{% static "css/bootstrap-cerulean.min.css" %}" rel="stylesheet">
	<link  href="{% static "css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/charisma-app.css" %}" rel="stylesheet">
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet">
	<script src="{% static "js/jquery.min.js" %}"></script>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">导航开关</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img alt="Charisma Logo" src="" class="hidden-xs"/><span>农药追溯</span></a>

            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> {{ username }}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">修改密码</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html">退出</a></li>
                </ul>
            </div>
            <!-- user dropdown ends -->

            <ul class="collapse navbar-collapse nav navbar-nav top-menu">
                <li><a href="#"><i class="glyphicon glyphicon-globe"></i>访问网站</a></li>
				<!--
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i>下拉框 <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">功能1</a></li>
                        <li><a href="#">功能1</a></li>
                        <li><a href="#">功能1</a></li>
                        <li class="divider"></li>
                        <li><a href="#">功能1</a></li>
                    </ul>
                </li>
                -->
            </ul>

        </div>
    </div>
    <!-- topbar ends -->
<div class="container-fluid">
    <div class="row">
        <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">主菜单</li>
                        <li><a class="ajax-link" href="index.html"><i class="glyphicon glyphicon-home"></i><span>  首页</span></a></li>
                        <li class="active"><a class="ajax-link " href="/storage_list/"><i class="glyphicon glyphicon-eye-open"></i><span>  采购查询</span></a></li>
                        <li><a class="ajax-link" href="/sale_list/"><i class="glyphicon glyphicon-edit"></i><span>  销售查询</span></a></li>
                        <li><a class="ajax-link" href="/admin_list/"><i class="glyphicon glyphicon-list-alt"></i><span>  库存查询</span></a></li>
                        <li class="nav-header hidden-md">数据统计</li>
                        <li><a class="ajax-link" href=""><i class="glyphicon glyphicon-align-justify"></i><span>  采购统计</span></a></li>
                        <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-plus"></i><span>  销售统计</span></a>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">销售月统计</a></li>
                                <li><a href="#">销售年统计</a></li>
                            </ul>
                        </li>
                        <li><a class="ajax-link" href="calendar.html"><i class="glyphicon glyphicon-calendar"></i><span>  库存统计</span></a>
                        </li>
                    </ul>
                    <label id="for-is-ajax" for="is-ajax"></label>
                </div>
            </div>
        </div>
        <!-- left menu ends -->
		<div id="content" class="col-lg-10 col-sm-10">
        <!-- content starts -->
        <div>
			<ul class="breadcrumb">
				<li><a href="#">采购查询</a></li>
			</ul>
		</div>

<div class="row">
    <div class="box col-md-12">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-list-alt"></i> 库存列表</h2>
        <div class="box-icon">
            <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </div>
    <div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
     <tr>
        <th>采购编号</th>
        <th>药品名称</th>
        <th>计量单位</th>
        <th>规格型号</th>
        <th>生产厂家</th>
        <th>登记证号</th>
        <th>采购数量</th>
        <th>更新时间</th>
        <th>录入时间</th>
    </tr>
    </thead>
    <tbody>
	{% for s in storage_data %}
	<tr>
        <td>{{ s.storage_id }}</td>
        <td class="center">{{ s.drugs_name }}</td>
        <td class="center">{{ s.measurement }}</td>
        <td class="center">{{ s.model }}
{#            <span class="label-default label">Inactive</span>#}
        </td>
        <td class="center">{{ s.manufacturer }}</td>
        <td>{{ s.register_code }}</td>
        <td>{{ s.stock_count }}</td>
        <td>{{ s.update_time }}</td>
        <td>{{ s.create_time }}</td>

    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
	</div>
</div>

 <!-- content ends -->
    </div><!--/#content.col-md-0-->
</div><!--/fluid-row-->
	<hr>
    <footer class="row">
        <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; 
		<a href="#" target="_blank">Muhammad Usman</a> 2012 - 2015</p>
        <p class="col-md-3 col-sm-3 col-xs-12 powered-by">Powered by: <a href="">Charisma</a></p>
    </footer>

</div><!--/.fluid-container-->
<!-- external javascript -->


<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery.cookie.js" %}"></script>
<script src='{% static "js/jquery.dataTables.min.js" %}'></script>
<script src="{% static "js/chosen.jquery.min.js" %}"></script>
<script src="{% static "js/jquery.colorbox.min.js"%}"></script>
<script src="{% static "js/jquery.raty.min.js" %}"></script>
<script src="{% static "js/jquery.iphone.toggle.js" %}"></script>
<script src="{% static "js/jquery.autogrow-textarea.js" %}"></script>
<script src="{% static "js/jquery.uploadify-3.1.min.js" %}"></script>
<script src="{% static "js/jquery.history.js" %}"></script>
<script src="{% static "js/charisma.js" %}"></script>

</body>
</html>
